.p{
    width: 1520px;
    height: 710px;
    background-color: rgb(240, 240, 240);
    display: flexbox;
}
header{
    width: 100%;
    height: 13%;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    display: flex;
}
header .logo{
    width: 100px;
    height: 59px;
    margin: 20px;
    margin-right: 0px;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
header nav{
    width: 90%;
    height: 59px;
    margin: 20px;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    padding-right: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}
header nav ul{
    gap: 15px;
    display: flex;
    list-style: none;

}
main{
    width: 100%;
    height: 70%;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    display: flex;
}
section{
    width: 70%;
    height: 100%;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    margin: 20px;
    margin-top: 0px;
    padding: 10px 0px 0px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
aside{
    width: 30%;
    height: 100%;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px 0px 0px 20px;
}
section img{
    width: 50%;
    margin-left: 25%;
}
section .eng{
    margin-left: 41%;
}
footer{
    width: 100%;
    height: 16%;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
}
footer .c1{
    width: 50%;
    height: 100%;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-left: 20px;
    text-align: left;
    align-content: center;

}

footer .c2{
    width: 50%;
    height: 100%;
    background-color: rgb(224, 223, 223);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding-right: 20px;
    text-align: right;
    align-content: center;
}
/* 224, 223, 223 */